<div>
  <select value="Gsjsnsn" (change)="onIndex($event)">
    <option value="{{country.userId |json}}" *ngFor="let country of innerArr; let i =index"> 
      {{country.userId |json}}
    </option>
  </select>
</div>
<br>
<div >
  
  <table >
    <tr >
      <th>id</th>
      <th>title</th>
      <th>userId</th>
      <th>status</th>
    </tr>
    <tr *ngFor="let a of abc">
      <td style="text-align: center;">{{a.id}}</td>
      <td>{{a.title}}</td>
      <td style="text-align: center;">{{a.userId}}</td>
      <td style="text-align: center;"><input type="checkbox" [checked]="a.completed" ></td>
      
    </tr>
   
  </table>
  
</div>